.encabezado {
    background-color: palevioletred;
    margin-top: -0;
}

#titulo1 {
    text-align: center;
    color: white;
}

#titulo2 {
    text-align: center;
    color: palevioletred;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
}

th {
    border: 3px solid palevioletred;
    text-align: center;
    color: black;
    font-size: 15px;
}

td {
    border: 3px solid palevioletred;
    text-align: center;
    color: black;
    font-size: 15px;
}